.DS_Store
RefAnalyzer/.idea/
RefAnalyzer/.vs/
RefAnalyzer/RefAnalyzer.Test/bin/
RefAnalyzer/RefAnalyzer.Test/obj/
RefAnalyzer/RefAnalyzer.Vsix/bin/
RefAnalyzer/RefAnalyzer.Vsix/obj/
RefAnalyzer/RefAnalyzer/bin/
RefAnalyzer/RefAnalyzer/obj/
UnityProject/Library/
UnityProject/packages/
UnityProject/Temp/
UnityProject/.vs/
UnityProject/UnityProject.csproj
UnityProject/UnityProject.sln
UnityProject/UnityProject.Editor.csproj
UnityProject/obj
UnityProject/packages.config
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
UnityProject/.idea
UnityProject/Assets/Plugins/Editor/JetBrains.meta
UnityProject/Assets/Plugins/Editor/JetBrains
RefAnalyzer/RefAnalyzer.Shared/bin
RefAnalyzer/RefAnalyzer.Shared/obj
