RefAnalyzer/.vs/
RefAnalyzer/RefAnalyzer/RefAnalyzer.Test/bin/
RefAnalyzer/RefAnalyzer/RefAnalyzer.Test/obj/
RefAnalyzer/RefAnalyzer/RefAnalyzer.Vsix/bin/
RefAnalyzer/RefAnalyzer/RefAnalyzer.Vsix/obj/
RefAnalyzer/RefAnalyzer/RefAnalyzer/bin/
RefAnalyzer/RefAnalyzer/RefAnalyzer/obj/
